# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/